<%%= raw(t('devise.views.mailer.reset_password_instructions.upper', :account => @resource.email)) %>

<p>
  <%%= link_to t('devise.views.cmds.change_password'),
    edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>

<%%= raw(t('devise.views.mailer.reset_password_instructions.lower')) %>
