<%% title(t('devise.views.passwords.new.title')) %>

<%%= form_for(resource, :as => resource_name,
  :url => password_path(resource_name)) do |f| %>
    <%%= f.error_messages :header_message => t('devise.views.errors.template.header_message'),
      :message => t('devise.views.errors.template.message') %>

    <div class="field">
      <%%= f.label :email, t('activerecord.attributes.<%= name %>.email') %><br />
      <%%= f.text_field :email %>
    </div>

    <p>
      <%%= f.submit t('devise.views.cmds.reset_password') %>

      <span class="decent">
        <%%= t('standard.labels.or') %>
        <%%= link_to t('standard.cmds.cancel'), root_path %>
      </span>
    </p>
<%% end %>

<%%= render :partial => 'devise/shared/links' %>