<%% title(t('devise.views.confirmations.title')) %>

<%%= form_for(resource, :as => resource_name,
  :url => confirmation_path(resource_name)) do |f| %>
    <%%= f.error_messages :header_message => t('devise.views.errors.template.header_message'),
      :message => t('devise.views.errors.template.message') %>

    <div class="field">
      <%%= f.label :email, t('activerecord.attributes.<%= name %>.email') %><br />
      <%%= f.text_field :email %>
    </div>

    <p>
      <%%= f.submit t('devise.views.cmds.resend_confirmation') %>
    </p>
<%% end %>

<%%= render :partial => 'devise/shared/links' %>