<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="<%%= I18n.locale
  -%>" xml:lang="<%%= I18n.locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title><%= controller_class_name %>: <%%= controller.action_name %></title>

  <%%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div id="flashMessages">          
  <%%= [:notice, :warning, :error].collect do |type|
    content_tag('div', flash[type], :id => type, :class => type) if flash[type]
  end %>          
</div>

<%%= yield %>

</body>
</html>
