body {
  background-color: #ffffff;
  color: #222222;
}

body, p, ol, ul, table, td, th {
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #ffffff;
  background-color: #000000;
}

label {
  color: #666666;
}

table.noborder td {
  border: 0px;
}
table.nopad td {
  padding-left: 0px;
}
table {
	border-collapse: collapse;
}
table.wide {
  width: 100%;
}
table tr th {
	background: #333333;
	color: #ffffff;
	text-align: left;
	font-size: 0.9em;
	padding: 2px 8px;
	border: 1px solid #222222;
}
table tr td {
	padding: 3px 8px;
	border: 1px solid #dddddd;
}
table.top tr td {
	vertical-align: top;
}
table tr td.last {
	background: #f0f0f0;
	font-size: 0.9em;
	width: 25%;
}

div.pagination {
  display: inline;
}

table.searchbar, table.searchbar td, table.searchbar tr {
  border: none;
}

table.searchbar td {
  padding: 0px 5px 10px 0px;
  vertical-align: baseline;
}
table.searchbar td a {
  font-weight: bold;
}
table.searchbar td.selected strong {
  font-size: 130%;
}

.decent, .decent a {
  color: #808080;
}

#flashMessages {
  width: 80%;
  padding: 0px;
  display: table;
  color: #ffffff;
}
#flashMessages div {
  padding: 7px;
}
#flashMessages div.notice {
  border: 2px solid #008000;
  background-color: #00a000;
}
#flashMessages div.warning {
  border: 2px solid #eebb22;
  background-color: #ffcc33;
}
#flashMessages div.error {
  border: 2px solid #bb0000;
  background-color: #cc0000;
}
  
.fieldWithErrors {
  display: inline;
}
.fieldWithErrors > label {
}
.fieldWithErrors > input, .fieldWithErrors > textarea, .fieldWithErrors > select {
  padding: 2px;
  background-color: #ffe0e0;
  display: inline;
}

#errorExplanation {
  width: 80%;
  border: 2px solid #cc0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #cc0000;
  color: #ffffff;
}
#errorExplanation p {
  color: #333333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
