<%= view_header("t('#{file_name}.new.title')") %>

<%% form_for(@<%= singular_name %>, :url => <%= path_of_with_parent_if_any(:value1 => "@#{singular_name}") %>,
  :html => { :multipart => true }) do |f| %>
    <%%= f.error_messages %>

    <%%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%%= f.submit t('standard.cmds.create') %>

      <span class="decent">
        <%%= t('standard.labels.or') %>
        <%%= link_to t('standard.cmds.cancel'), <%= path_of_with_parent_if_any %> %>
      </span>
    </p>
<%% end %>
